@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@100..900&family=Playwrite+CU:wght@100..400&display=swap');

*{
    padding: 0;
    margin: 0;
    text-align: center;
}

h1{
    background-color: black;
    color: #fff;
    height: 5rem;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    line-height: 5rem;
    font-family: "Protest Guerrilla", sans-serif;
    font-weight: 400;
    font-style: normal;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
    
}

.choice {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
}

img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
    margin-top: 1rem;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.5);
}

.choice:hover{
    background-color: rgb(240, 235, 235);
    cursor: pointer;
}

.score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin-top: 1rem;
    font-size: 2rem;
    /* color: #fff; */
}

#user-score, #comp-score{
    font-size: 3rem;
}

.msg-container {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}

#msg {
    background: linear-gradient(90deg, hsla(208, 67%, 81%, 1) 0%, hsla(37, 65%, 85%, 1) 50%, hsla(301, 65%, 83%, 1) 100%);
    font-size: 1rem;
    display: inline;
    border-radius: 5px;
    padding: 1rem;
    /* border: 1px solid ; */
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.5);
    font-weight: bold;
}

#reset {
    color: black;
    /* font-style: italic; */
    line-height: 7rem;
    background: linear-gradient(90deg, hsla(339, 100%, 55%, 1) 0%, hsla(197, 100%, 64%, 1) 100%);
    font-size: 2rem;
    display: inline;
    border-radius: 5px;
    padding: 0.5rem;
    font-family: "Playwrite CU", cursive;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.5);
}

#reset:hover {
    cursor: pointer;
}

.abc {
    font-family: "Playwrite CU", cursive;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;   
}